@model SearchViewModel

@{
    ViewData["Title"] = "Намери твоят мечтан автомобил";
}

<h2>@ViewData["Title"]</h2>

<div class="form-horizontal">
    <form action="Vehicle/List" method="get">
        <div class="form-horizontal">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-4 text-center">
                        <img src="~/images//cartoon-car.jpg" class="img-responsive cartoon-car" />
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 field-Wrapper">
                        <div class="form-group">
                            <label asp-for="Importer"></label>
                            <select asp-for="Importer" asp-items="Model.AllImporters" class="form-control"></select>
                            <span asp-validation-for="Importer" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Searched"></label>
                            <input asp-for="Searched" class="form-control" />
                            <span asp-validation-for="Searched" class="text-danger"></span>
                        </div>

                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div asp-validation-summary="All" class="alert alert-danger"></div>
                        }

                        <div class="form-group text-right">
                            <input type="submit" value="Търси" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}